.center.jumbotron
  h1 Welcome to the Ragas App
  h2
    | This is the home page for
    a href="http://www.github.com/ragavendra"  ರಾಗವೇಂದ್ರ
    | work profile.
  = link_to "Sign up now to receive newsletter!", 'signup', class: "btn btn-lg btn-primary"
= link_to image_tag("kitten.jpg", alt: "Ragas logo"), root_path
