<% provide(:title, "Home") %>
<h1>Ragavendra</h1>
<h3>
	<a href = "static_pages/about">About</a> | 
	<a href = "static_pages/help">Help</a>
</h3>
<p>
  This is the home page for
    <a href="http://www.github.com/ragavendra">Ragavendra</a>
      work profile.
</p>
