<!-- check if any errors on save -->
<% # unless @user.errors.any? %>
<!-- check if message var is not empty -->
<% unless @message.nil? %>
	<div id="success_explanation">
		<div class="alert alert-success">
			User <%= @user.name %> saved succesfully
		</div>
	</div>
<% end %>

